.overview {
  margin-bottom: 20px;
}

.date {
  padding-right: 0;
}

.temperature-section {
  margin-top: -10px;
}

.weather-temperature img {
  margin-right: -10px;
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
  left: -10px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  position: relative;
  top: -10px;
}

.units {
  padding-left: 5px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover,
.weather-temperature a:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #202225;
}

.weather-forecast-date {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

#information {
  height: 75px;
}

@media only screen and (max-width: 600px) {
  .weather-temperature img {
    margin-right: -10px;
    height: 80px;
    width: 80px;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .weather-temperature strong {
    font-size: 56px;
  }
}
